# Add one of these
CLAUDE_API_KEY=your-actual-key

OPENAI_API_KEY=your-actual-key

GITHUB_OPENAI_API_KEY=your-actual-key
GITHUB_OPENAI_API_BASE_URL=https://models.inference.ai.azure.com

DEEPSEEK_API_KEY=your-actual-key
DEEPSEEK_BASE_URL=https://api.deepseek.com

# Hugging Face Token for model downloads
HF_TOKEN=your-actual-key